@import 'viewports';
@import 'transitions';
@import 'fonts';

/**
** Footer Styles
**
**/

.footer {
  position: relative;
  clear: both;
  margin-top: 20px;
  padding: 30px 20px 100px;
  background: #7d7972;
  color: white;
  font-family: "Kievit-Medium";
  
  .logoText {
    font-family: "nypl-moon";
    font-size: 160px;
    position: absolute;
    top: 46px;
    left: 32px;
  }
  
//  @include desktop {
//    min-width: 1014px;
//    padding: 30px 21px 100px 20px;
//  }

  &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 227px;
    //max-width: 1312px;
    //margin: 0 auto;
    //padding: 0;

    //@include desktop {
    //  padding: 0;
    //  width: 100%;
    //}

    .footerlinks {
      margin: 40px 0 0 0;
      order: 2;
	

      //@include desktop {
      //  padding: 0 0 0 97px;
      //}

      ul {
	text-align: right;
        list-style: none;
        //padding: 0;
	font-size: 32px;

        @include tablet-and-up {
          margin: 0 20px;
          &:first-of-type {
            margin-left: 0px;
            float: left;
            width: 35%;
          }
          &:nth-of-type(2) {
            float: left;
          }
          &:nth-of-type(3) {
            clear: both;
            margin-left: 0px;
            width: 35%;
            float: left;
          }
          &.last {
            float: left;
          }
        }

        @include desktop {
          float: left;
          width: 25% !important;

          &:nth-of-type(3) {
            margin-left: 20px;
            clear: none;
          }
        }

        li {
          margin: 0px 0px 16px;
          display: none;

          @include desktop {
            display: list-item;
          }

          &.footer1 {
            display: list-item;
          }

          a {
            font-weight: 300;
            color: #FFF;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .socialmedia {
      order: 1;
      list-style-type: none;

      // icons are square, we want three across
      width: 80px * 3;

      li {
        display: inline-block;

        a {
          display: block;
          color: #FFF;
          font-size: 80px;
          text-decoration: none;

          @include desktop {
            opacity: .5;
            @include transition(all .1s ease);
          }

          &:hover {
            opacity: 1;
          }

          .replaced-text {
            /* h5bp technique */
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }
        }

        [class^="icon-"], 
        [class*=" icon-"] {
          padding: 0;
        }
        
        [data-icon]:before, 
        [class^="icon-"]:before, 
        [class*=" icon-"]:before {
          margin: 0 5px 0 0 !important;
        }
      } 
    }
      
    .copyright {
      margin: 40px 0 0 0;
      font-size: 20px;
      font-family: "Kievit-Book";
      text-align: right;
      order: 3;
    }
  }
}
